
Input/
Output/

wget-log

Code/*.pyc
Code/six.py
Code/bin/
Code/six-1.12.0.dist-info/
Code/pytz-2019.1.dist-info/
Code/numpy-1.16.4.dist-info/
Code/pandas-0.24.2.dist-info/
Code/dateutil/
Code/pytz/
Code/python_dateutil-2.8.0.dist-info/
Code/pandas/
Code/numpy/
Code/__pycache__/

